<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>人員資訊</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-9">
				</div>
				<div class="col-xs-3">
					<a class="btn btn-success btn-block" href="/#/dutyDesk/member/{{branch}}/edit">
						<i class="fa fa-plus"></i>
						<span>編輯</span>
					</a>
				</div>
			</div>
			<div class="list-group">
				<div class="table-responsive">
		            <table class="table table-striped">
		                <thead>
		                    <tr>
		                        <th>無線電代號</th>
		                        <th>姓名</th>
		                        <th>職稱</th>
		                        <th>氣量時間</th>
		                        <th>分隊</th>
		                        <th>大隊</th>
		                        <th>帳號狀態</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr ng-repeat="member in members track by $index" ng-class="{ warning : member.isUser}">
		                        <td>{{::member.radioCodePrefix}} {{::member.radioCode}}</td>
		                        <td>{{::member.name}}</td>
		                        <td>{{::member.title}}</td>
		                        <th>{{::member.workingTime.minutes()}} 分鐘  {{::member.workingTime.seconds()}} 秒</th>
		                        <td>{{::member.branch}}</td>
		                        <td>{{::member.corps}}</td>
		                        <td>
		                        	<p ng-if="member.isUser">已開通</p>
		                        	<p ng-if="!member.isUser">未開通</p>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>
		        </div>
			</div>
		</div>
	</div>
</div>